Repository fretelli/KeelTrader: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix(deps): resolve React 18 compatibility issues with @radix-ui packages
  keeltrader/apps/web/package-lock.json
  keeltrader/apps/web/package.json
Due: frontend

fix(deps): regenerate clean package-lock.json without extraneous dependencies
  keeltrader/apps/web/package-lock.json
Due: frontend

fix(deps): regenerate clean package-lock.json without extraneous dependencies
  DATABASE_MIGRATION.md
  EXCHANGE_SETTINGS_GUIDE.md
  FRONTEND_SETUP_COMPLETE.md
  MARKET_DATA_INTEGRATION.md
  QUICK_START_EXCHANGES.md
  aiwendy/.env.example
  aiwendy/apps/api/config.py
  aiwendy/apps/api/domain/exchange/__init__.py
  aiwendy/apps/api/domain/exchange/models.py
  aiwendy/apps/api/domain/exchange/repository.py
  aiwendy/apps/api/domain/user/models.py
  aiwendy/apps/api/main.py
  aiwendy/apps/api/requirements.txt
  aiwendy/apps/api/routers/__init__.py
  aiwendy/apps/api/routers/exchanges.py
  aiwendy/apps/api/routers/market_data.py
  aiwendy/apps/api/routers/user_exchanges.py
  aiwendy/apps/api/services/exchange_service.py
  aiwendy/apps/api/services/market_data_service.py
  aiwendy/apps/api/services/market_data_websocket.py
  aiwendy/apps/api/services/user_exchange_service.py
  aiwendy/apps/web/app/(dashboard)/settings/exchanges/page.tsx
  aiwendy/apps/web/app/(dashboard)/settings/page.tsx
  aiwendy/apps/web/components/icons.tsx
  aiwendy/apps/web/lib/api/exchanges.ts
  aiwendy/apps/web/lib/api/market-data-ws.ts
  aiwendy/apps/web/lib/api/user-exchanges.ts
  aiwendy/migrations/versions/010_create_exchange_connections.py
Due: none

refactor: rename all aiwendy references to keeltrader in code
  keeltrader/apps/api/scripts/init_user.py
  keeltrader/apps/api/scripts/init_user_simple.py
  keeltrader/apps/web/app/auth/login/page.tsx
  keeltrader/apps/web/components/language-provider.tsx
  keeltrader/apps/web/lib/active-project.ts
  keeltrader/apps/web/lib/auth-context.tsx
  keeltrader/apps/web/lib/i18n/config.ts
Due: frontend, backend

修复导入错误
  keeltrader/apps/api/routes/intervention.py
  keeltrader/apps/api/routes/notifications.py
  keeltrader/apps/api/services/exchange_service.py
  keeltrader/apps/api/services/intervention_service.py
  keeltrader/apps/api/services/market_data_service.py
  keeltrader/apps/api/services/market_data_websocket.py
  keeltrader/apps/api/services/notification_service.py
Due: backend

fix bug
  keeltrader/apps/web/lib/i18n/translations/en.json
  keeltrader/apps/web/lib/i18n/translations/zh.json
Due: frontend

增加实时心理
  keeltrader/apps/api/config.py
  keeltrader/apps/api/core/db_bootstrap.py
  keeltrader/apps/api/domain/analysis/models.py
  keeltrader/apps/api/domain/analytics/ml_analytics.py
  keeltrader/apps/api/domain/exchange/__init__.py
  keeltrader/apps/api/domain/exchange/models.py
  keeltrader/apps/api/domain/intervention/models.py
  keeltrader/apps/api/routers/intervention.py
  keeltrader/apps/api/routers/user_exchanges.py
  keeltrader/apps/api/scripts/docker_start.sh
  keeltrader/apps/api/services/intervention_service.py
  keeltrader/apps/api/services/trade_sync_service.py
  keeltrader/apps/api/services/user_exchange_service.py
  keeltrader/apps/api/workers/celery_app.py
  keeltrader/apps/api/workers/tasks.py
  keeltrader/docker-compose.yml
  keeltrader/migrations/env.py
  keeltrader/migrations/versions/001_initial_schema.py
  keeltrader/migrations/versions/004_create_coach_tables.py
  keeltrader/migrations/versions/011_add_exchange_trades_and_interventions.py
  keeltrader/migrations/versions/011a_bootstrap_core_tables.py
Due: backend

修复
  keeltrader/apps/web/lib/i18n.ts
Due: frontend

Path conditions:
  frontend: any of: keeltrader/apps/web/, but not: **/__tests__/**, **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test_*.py, **/alembic/**, **/venv/**, **/.next/**, **/node_modules/**
  backend: any of: keeltrader/apps/api/, but not: **/__tests__/**, **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/test_*.py, **/alembic/**, **/venv/**, **/.next/**, **/node_modules/**
